.boton{
    background-color: #6278F7;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 2rem;
    margin: 2rem 0;
    cursor: pointer;
}

.boton:hover{
    color: #95FFD4;
}