.lista-opciones label{
    display: block;
    font-size: 18px;
    font-weight: 600;
    
    margin-bottom: 8px;
}

.lista-opciones select{
    width: 100%;
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 15px 20px;
    outline-color: #6278f7;
}